DATABASE_URL=postgresql://postgres: ultimate@localhost:5432/holy

GITHUB CLIENT_ID=0v23113bTAFUjvQmNhDJ

GITHUB CLIENT_SECRET=daab6a20616d6a4155a851cb02c1009875c0859c

GITHUB REDIRECT URI=http://localhost:3001/auth/github/callback

FRONTEND_URL=http://localhost:3002

BASE URL=http://localhost:3001

SHADE_AGENT_URL=https://3173-197-211-57-3.ngrok-free.app

GITHUB WEBHOOK SECRET=ultimateman

MAINTAINER_SECRET=lockmeup

NODE_ENV=development