# Set to the same as the NEAR contract_id in deployment.yaml
AGENT_CONTRACT_ID=your-contract.testnet
# Sponsor NEAR account details to fund the agent
# Generate by using the "shade auth set near testnet create-new" command


# DEPLOYMENT
PHALA_API_KEY=your-phala-api-key

# NEAR
SPONSOR_ACCOUNT_ID=your-sponsor.testnet
SPONSOR_PRIVATE_KEY=ed25519:your-private-key
NETWORK_ID=testnet

# GitHub
GH_WEBHOOK_SECRET=your-webhook-secret

# AI
AI_API_KEY=sk-your-key  # for production use the near ai api key

# Backend
MAINTAINER_SECRET=your-secret # shared secret used to authenticate an authorize requests from the agent to the backend
BACKEND_URL=http://localhost:3001
